@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<address>
    Jefferson Luiz<br />
    Avaliação Desenvolvedor C# - Citel Software<br />
    <abbr title="Fone">Fone:</abbr>
    (81) 9 8613-1888
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jeffersonluiz.hargen@gmail.com">jeffersonluiz.hargen@gmail.com</a><br />
</address>